<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.Article">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="object_id" jdbcType="INTEGER" property="objectId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="click_num" jdbcType="INTEGER" property="clickNum" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, object_id, title, description, content, img_url, create_date, type ,click_num
  </sql>
  <select id="getAll" resultMap="BaseResultMap">
    SELECT * from article;
  </select>
  <select id="getPage" resultType="java.lang.Integer">
    SELECT COUNT(*) from article WHERE not id is null;
  </select>
  <select id="backList" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT * from article where article.type = #{type} order by create_date desc;
  </select>
  <select id="frontList" resultMap="BaseResultMap">
    SELECT * from article where article.type = 2;
  </select>
  <update id="browse" parameterType="java.lang.Integer">
    UPDATE article
    <set>
      click_num = #{arg1}
    </set>
    WHERE id = #{arg0}
  </update>
</mapper>